<header class="clearfix">
	<div id="call-to-action"><a href="#"><span>User</span>Login</a></div>
	<h2 id="tagline">We<span class="heart"></span>design</h2>
	<ul class="breadcrumbs">
		<li>You are here:</li>
		<li>Login</li>
	</ul>
</header>