	<nav id="nav-primary">
		<ul>
			<li class="current">
        <!-- <a href="index-2.html">Holla!</a> -->
			  <%= link_to "Holla!", root_url %>
			</li>
			<li><%= link_to "Features", root_url %></li>
      <!-- <li><a href="portfolio_grid_large.html">Pricing</a>
        <ul>
          <li><a href="portfolio_grid_small.html">Portfolio Small</a></li>
          <li><a href="portfolio_grid_medium.html">Portfolio Medium</a></li>
          <li><a href="portfolio_grid_large.html">Portfolio Large</a></li>
          <li><a href="portfolio_basic.html">Basic Portfolio</a></li>
        </ul>
      </li> -->
			<li>
			  <%= link_to "Login", new_user_session_url %>
        <!-- <a href="blog_grid_large.html">Login</a> -->
        <!-- <ul>
          <li><a href="blog_classic_1.html">Blog Classic v1</a></li>
          <li><a href="blog_classic_2.html">Blog Classic v2</a></li>
          <li><a href="blog_single.html">Blog Single</a></li>
          <li><a href="blog_grid_small.html">Grid Blog Small</a></li>
          <li><a href="blog_grid_medium.html">Grid Blog Medium</a></li>
          <li><a href="blog_grid_large.html">Grid Blog Large</a></li>
        </ul> -->
			</li>
      <!-- <li><a href="page_styles.html">Signup</a>
        <ul>
          <li><a href="page_404.html">404 Error</a></li>
          <li><a href="page_contact.html">Contact Us</a></li>
          <li><a href="page_about.html">About Us</a></li>
        </ul>
      </li> -->
		</ul>
	</nav>
<!-- /Navigation -->