<div id="content-area" class="container page clearfix">
  <div class="container-12">

    <article class="clearfix post">

      <div class="format-ribbon"></div><!-- post format indication ribbon -->

      <header class="col-12">
        <h3>Your Projects</h3>
      </header>

      <div class="cl"></div>



      <section class="col-2">
        <a class="alignright button-large-1 pad-l-20 pad-r-20" href="page_contact.html">Create New</a>
      </section>

      <section class="col-10">
        <p class="mission-statement">
          You don't have any projects now. However, worry not! 
          Just click the button at the left to get started. You can create either public or private
          project.
        </p>
      </section>

      <div class="cl"></div>

      <section class="col-7">
        <h3>Public Project</h3>
        <p class=".txt-large">
          Anyone can see your project, and create their version of it. Being positive, 
          it means that more feedback for your graphic skill.
        </p>
        <br />
        <h3>Private Project</h3>
        <p class="normal text">
          However, some things are to remain secret, only for you and your team. For this purpose, 
          create private projects.
        </p>
      </section>

      <section class="col-5">
        <figure>
          <!-- <img src="images/features/nook-themes.jpg" width="360" height="143" alt="Nook Themes"> -->
        </figure>
      </section>

      <div class="cl"></div>

      <header class="col-12">
        <h3>What you get from this tool</h3>
      </header>

      <div class="cl"></div>

      <section class="col-6">
        <h3>Public</h3>
        <ul class="list-style-1">
          <li class=".txt-large">Everyone can see and share</li>
          <li class=".txt-large">Free for all</li>
          <li class=".txt-large">Learn from others</li>
        </ul>
      </section>

      <section class="col-6">
        <h3>Private</h3>
        <ul class="list-style-1">
          <li class=".txt-large">Only you and your teams</li>
          <li class=".txt-large">15 cents USD per image uploaded</li>
          <li class=".txt-large">Image stays forever</li>
          <li class=".txt-large">Save your client and your time</li>
        </ul>
      </section>

      <div class="cl"></div>

      <section class="col-12">
        <figure class="aligncenter col-7">
          <!-- <img src="images/features/technologies.png" width="540" height="133" alt="HTML5,CSS3,jQuery"> -->
        </figure>
      </section>

      <hr class="col-12" />



      <section class="col-10">
        <p class="mission-statement">
          What are you waiting for?  This tool is probably right for you and if its not, it's just as easy to cancel the billing.
        </p>
      </section>

      <section class="col-2">
        <a class="alignright button-large-1 pad-l-20 pad-r-20" href="page_contact.html">Create New</a>
      </section>

    </article>
    <div class="cl"></div>
  </div><!-- .container-12 -->
</div><!-- .container .page -->
