
<!-- Call to action -->
	<header class="clearfix">
		<div id="call-to-action"><a href="#"><span>Available</span>Hire Me</a></div>
		<h2 id="tagline">Simple tool that saves your<span class="heart"></span>time</h2>
		<ul class="breadcrumbs">
			<li>You are here:</li>
			<li><a href="#">Home</a></li>
			<li>Projects</li>
		</ul>
	</header>
<!-- /Call to action -->

	<div class="cl"></div>

	
	

 <%= render :partial => "projects_filler" %>



